<p><b>Date:</b> <%= @strike.date.strftime('%B %d, %Y') %></p>
<p><b>Deaths:</b> <%= @strike.deaths_max %></p>
<p><b>Civilians Killed:</b> <%= @strike.civilians %></p>
<p><b>Location:</b> <%= @strike.location %>, <%= @strike.country %></p>
<p><b>Summary:</b> <%= @strike.bij_summary_short %></p>