<p><b>date:</b> <%= @strike.date.strftime('%B %d, %Y') %></p>
<p><b>deaths:</b> <%= @strike.deaths_max %></p>
<p><b>civilians killed:</b> <%= @strike.civilians %></p>
<p><b>location:</b> <%= @strike.location %>, <%= @strike.country %></p>